.search-form{
    height: 40px;
    display: flex;
}

.search-form input{
    box-sizing: border-box;
    height: 20px;
    padding: 20px;
    flex: 1;
    background-color: var(--light-gray);
    color: var(--gray);
    border: none;
    transition: all .3s ease-in-out;
}

.search-form button{
    width: 50px;
    height: 40px;
    background-color: var(--blue);
    border: none;
    color: #fff;
    font-size: 22px;
}
